@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased min-h-screen selection:bg-black selection:text-white;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-display tracking-tight text-slate-900;
  }
}

/* Custom Utilities for Micro-animations & Glassmorphism */
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
